// Override theme colors
$theme-colors: (
    "primary": #0d6efd,
    "secondary": #6c757d,
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #212529,
    "black": #000000
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: $light !important;
}

a:hover {
    scale: 1.05;
}

button:hover {
    scale: 1.05;
}